

/*
.bg-primary{
background:#009688!important;
}

.banner{
width:100%
height: 93vh;
}

.my-card{
margin-left:300px;
margin-top:150px;
padding:20px;
background:#FFFFFF;
border-radius:5px;
}

.card-deck{
margin-top:500px
}

p{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}


.sidebar{
width:18%;
background:white;
height:100%
}

.content{
margin-left:20%;
}
*/

.container{
	width: 457px;
	margin-top: 234px;
	margin-right: 364px;
	background-color: #009688;
}